*,:after,:before{box-sizing:border-box;font-family:'Open Sans',sans-serif!important;font-size:13px}
body,html{font-smoothing:antialiased}
html{font-family:'Open Sans',sans-serif!important;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}

/* Navbar */
#top-nav{background:#FC5960}
#top-nav li a{color:#666;font-size:12px}
#main-nav{background:#fc5960}
#main-nav img{height:62px;margin:0 10px}
.navbar-dark .navbar-nav .nav-link{color:#fff;font-weight:600;margin-right:15px;letter-spacing:.5px}
.dropdown:hover>.dropdown-menu{display:block}
#main-nav .dropdown-menu{border:1px solid #fd585f;margin-top:-10px;border-top-width:35px;border-radius:0}
#main-nav .dropdown-menu a{color:#FC5960}
