*,:after,:before{box-sizing:border-box;font-family:'Open Sans',sans-serif!important;font-size:13px}
body,html{font-smoothing:antialiased}
html{font-family:'Open Sans',sans-serif!important;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
textarea:focus,input:focus{box-shadow:none!important;border-color:#ced4da!important}

/* Navbar */
#top-nav{background:#f0f0f0}
#top-nav li{padding:0 8px;border-left:1px solid #80808033;line-height:17px}
#top-nav li:first-child,#top-nav li:last-child{border:0}
#top-nav li a{color:#666;font-size:12px}
#top-nav li.number a{font-size:14px;color:#fc5960;font-weight:500}
#main-nav{background:#fc5960;padding:.2rem 1rem}
#main-nav img{height:62px;margin:0 10px}
#main-nav .navbar-nav .nav-link{color:#fff;font-weight:600;margin-right:15px;letter-spacing:.5px}
.dropdown:hover>.dropdown-menu{display:block}
#main-nav .dropdown-menu{border:1px solid #fd585f;margin-top:-10px;border-top-width:32px;border-radius:0}
#main-nav .dropdown-menu a{color:#FC5960}
