<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="df9bc201-cffc-42e3-bcac-0342dd7ba2fb" name="Richs Unassuming Otter" alias="richs-unassuming-otter" type="Starter" color="" url="https://www.s1.umbraco.io/project/richs-unassuming-otter">
  <environment type="live" name="Live" id="5c34e55e-55d4-4e06-bff9-26100dbcc551">https://richs-unassuming-otter.s1.umbraco.io</environment>
</environments>